[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/ggreer/the_silver_searcher
[submodule "bundle/ag_vim"]
	path = bundle/ag_vim
	url = https://github.com/rking/ag.vim
[submodule "/Users/c/.vim/bundle/vim-easymotion"]
	path = /Users/c/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "/Users/c/.vim/bundle/vim-ctrlp-tjump"]
	path = /Users/c/.vim/bundle/vim-ctrlp-tjump
	url = https://github.com/ivalkeen/vim-ctrlp-tjump.git
